<!--The content below is only a placeholder and can be replaced.-->

<app-generic-component-child [dataChild]="info"></app-generic-component-child>
<app-generic-component-parent [dataParent]="info"></app-generic-component-parent>


